[databases]
{{ postgres_db }} = host=postgres port=5432 dbname={{ postgres_db }}

[pgbouncer]
listen_addr = 0.0.0.0
listen_port = 6432

# Auth
auth_type = {{ pgbouncer_auth_type }}
auth_file = /etc/pgbouncer/userlist.txt

# Pooling
pool_mode = {{ pgbouncer_pool_mode }}
max_client_conn = {{ pgbouncer_max_client_conn }}
default_pool_size = {{ pgbouncer_default_pool_size }}
reserve_pool_size = {{ pgbouncer_reserve_pool_size }}

# Safety/compat
server_reset_query = {{ pgbouncer_server_reset_query }}
ignore_startup_parameters = {{ pgbouncer_ignore_startup_parameters }}

# Admin console
admin_users = {{ pgbouncer_admin_users | join(',') }}

# Logging
log_connections = 1
log_disconnections = 1
